## DATA EXTRACTION

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('final_dataset.csv')
df

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Case Fatality Rate,Recovery Rate,Active Rate,Daily Recovery Rate,Death Growth Rate,Case Growth Rate
0,22-01-2020,Afghanistan,1,1,1,1,1,1,1,Eastern Mediterranean,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,22-01-2020,Albania,1,1,1,1,1,1,1,Europe,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,22-01-2020,Algeria,1,1,1,1,1,1,1,Africa,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,22-01-2020,Andorra,1,1,1,1,1,1,1,Europe,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
4,22-01-2020,Angola,1,1,1,1,1,1,1,Africa,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35151,27-07-2020,West Bank and Gaza,10621,78,3752,6791,152,2,1,Eastern Mediterranean,0.007344,0.353262,0.639394,0.006579,0.025641,0.014311
35152,27-07-2020,Western Sahara,10,1,8,1,1,1,1,Africa,0.100000,0.800000,0.100000,1.000000,1.000000,0.100000
35153,27-07-2020,Yemen,1691,483,833,375,10,4,36,Eastern Mediterranean,0.285630,0.492608,0.221762,3.600000,0.008282,0.005914
35154,27-07-2020,Zambia,4552,140,2815,1597,71,1,465,Africa,0.030756,0.618409,0.350835,6.549296,0.007143,0.015598
35155,27-07-2020,Zimbabwe,2704,36,542,2126,192,2,24,Africa,0.013314,0.200444,0.786243,0.125000,0.055556,0.071006